.author__avatar,
.author__avatar img,
img.author__avatar {
    width: 200px;
    height: 200px;
    max-width: 300px !important;
    max-height: 300px !important;
}

img.author__avatar {
    object-fit: cover !important;
    border-radius: 12px !important;
    display: block !important;
}
/* Desktop layout override */
@media (min-width: 1024px) {

  .sidebar {
    width: 280px !important;
    max-width: 280px !important;
  }

  .page {
    margin-left: 320px !important;
    width: calc(100% - 340px) !important;
    max-width: none !important;
  }
    .page__content {
    max-width: 900px;
}
}
.author__desktop a {
    display: inline;
}

.author__desktop {
    white-space: nowrap;
}
